{% load static %}
<div class="rounded-2 border" style="margin-top: 4rem">

<footer class="footer">
    <div class=" container-fluid row">
        <div class="col">
            ИП Поляков А.В. <br>
            ИНН 772828209440 <br>
            Г. Москва, ул. Миклухо-Маклая, 30, кв. 396
        </div>
        <div class="col">
            Служба поддержки: <br>
            support@teammeee.com <br>
            +7 (333) 999 67 87 <br>
        </div>
        <div class="col">
            <img src="{% static 'img/payment_systems.png' %}" alt="">
        </div>
    </div>
</footer>

</div>