{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if user.is_authenticated %}
                <p>Вы уже авторизованы. Перейти в <a href="{% url 'profile' %}">личный кабинет</a>?
                {% endif %}
            {% if not user.is_authenticated %}
                                        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вход</legend>
                {{ form|crispy }}
            </fieldset>
                                            <div class="form-control my-custom-element">
                                                </div>
            <div class="form-group">
                <button   class="btn btn-primary"  type="submit">Войти</button>
            </div>
                                        <div class="form-control my-custom-element">
                                                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
            </small>
        </div>
        {% endif %}
    </div>
{% endblock content %}