{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content_short %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{% static 'img/default.jpg' %}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">{% translate 'Ваш профиль' %}</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
           <div class="form-control my-custom-element">
                                                </div>
          <div class="form-group">
              <button class="btn btn-primary" type="submit"><h5>{% translate 'Обновить' %}</h5></button>
          </div>
           <div class="form-control my-custom-element">
                                                </div>
      </form>

        

    <div class="border-top pt-3">
            <small class="text-muted">
                <a class="btn btn-danger" href="{% url 'logout' %}">{% translate 'Выйти' %}</a>
            </small>
        </div>
    </div>

{% endblock content_short %}
