{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Заголовок страницы -->
    <h1 class="text-center">Обеспечьте безопасное хранение своих <br> файлов. И не только</h1>
    <p class="text-center">Любой необходимый вам объем зашифрованного хранилища.<br> Включает в себя Teammeee Transfer, Teammeee Back up.</p>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    {% endblock %}
{% block content2 %}
    <div class="my-element4 form-control my-custom-element">
                                                </div>
    <!-- Переключаемый интерфейс для выбора месячной или годовой подписки -->
    <div class="my-element4 justify-content-start mt-3">
    <label class="mr-3">
        <input type="radio" name="subscription" value="monthly"> Ежемесячное выставление счетов ㅤㅤ
    </label>
    <label>
        <input type="radio" name="subscription" value="yearly"> Ежегодное выставление счетов
    </label>
</div>

    <div class="my-element4 background-color-change">
        <div class="row mt-4">
        <div class="col-md monthly-tariff">

    <div class="row mt-4">
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription1.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 1</h5>
                    <p class="card-text">Описание тарифа 1.</p>
                    <a href="#" class="btn btn-primary">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription2.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 2</h5>
                    <p class="card-text">Описание тарифа 2.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription1.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 3</h5>
                    <p class="card-text">Описание тарифа 3.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription1.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 4</h5>
                    <p class="card-text">Описание тарифа 4.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>

    </div>
        </div>
        <div class="col-md yearly-tariff">

            <div class="row mt-4">
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription1.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 5</h5>
                    <p class="card-text">Описание тарифа 5.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription2.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 6</h5>
                    <p class="card-text">Описание тарифа 6.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription1.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 7</h5>
                    <p class="card-text">Описание тарифа 7.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="{% static 'images/subscription1.jpg' %}" class="card-img-top" alt="Тариф 1">
                <div class="card-body">
                    <h5 class="card-title">Тариф 8</h5>
                    <p class="card-text">Описание тарифа 8.</p>
                    <a href="#" class="btn btn-primary ">Попробовать бесплатно <span style="font-size: 16px;">  ➜ </span></a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    </div>

    <script src="{% static 'js/tariff_switch.js' %}"></script>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
    <div class="form-control my-custom-element">
                                                </div>
{% endblock %}
