{% extends "base.html" %}
{% block content_short %}

<div id="intellectmoney-payform">
    <script async type="text/javascript">
      fetch('https://merch.intellectmoney.ru/payform/' +
          '?EshopId=466499' +
          '&ServiceNameAuthor=0' +
          '&ServiceName={{ tariff }}' +
          '&PaymentAmountIsReadonly=true' +
          '&PaymentAmount={{ payment_amount }}' +
          {#'&PaymentCurrency=%E2%82%BD' +#}
          '&PaymentCurrency=TST' +
          '&ButtonName=0' +
          '&Preferences=' +
          '&PayerData=' +
          '&Comment=false' +
          '&CommentTip=' +
          '&UserEmail=true' +
          '&UserFullName=' +
          '&PhoneNumber=' +
          '&SuccessUrl='
                + window.location.origin +
                '%2Fhandepayment' +
                '%2F%3Ftariff_id%3D{{ tariff_id }}' +
                '%26payment_amount%3D{{ payment_amount }}' +
                '%26tariff_exp%3D{{ tariff_exp }}' +
                '%26volume%3D{{ volume }}' +
          '&OpenNewWindow=true' +
          '&MerchantReceipt=%7B%22Content%22%3A%7B%22Type%22%3A1%2C%22Positions%22%3A%5B%5D%7D%7D')
        .then(res => res.text())
        .then((responseText) => {
          const c = document.getElementById('intellectmoney-payform');
          c.innerHTML = responseText;
          Array.prototype.slice.call(new DOMParser().parseFromString(responseText, 'text/html').getElementsByTagName('script')).forEach(s => {
            let e = document.createElement('script');
            e.src = s.src;
            e.type = s.type;
            c.appendChild(e);
          });
        });
    </script>
</div>
    <div class="rounded-2 border" style="padding: 12px; margin-top: 1rem">
    Политика безопасности при оплате пластиковой картой <br>
    При проведении оплаты с использованием банковских карт производится перенаправление покупателя из интернет-магазина на платежную страницу системы электронных платежей ООО «ИнтеллектМани» сертифицированной в соответствии со стандартами хранения конфиденциальных данных PCI DSS.
    Безопасность передачи данных обеспечивается использованием протокола Secure Sockets Layer (SSL) 3.0. Обмен информации осуществляется по закрытым сетям, имеющим высшую степень защиты и прошедшим аудит PCI DSS. Сбор, обработка и хранение конфиденциальных данных клиента (реквизиты карты, регистрационные данные и т.д.) производится в процессинговом центре, имеющем сертификат PCI DSS.
    <br><hr>
    Возврат денежных средств не осуществляется!
    </div>
{% endblock %}