{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if user.is_authenticated %}
                <p>{% translate 'You already login. Go to ' %} <a href="{% url 'profile' %}">{% translate 'profile' %}</a>?
                {% endif %}
            {% if not user.is_authenticated %}
                                        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% translate 'login' %}</legend>
                {{ form|crispy }}
            </fieldset>
                                            <div class="form-control my-custom-element">
                                                </div>
            <div class="form-group">
                <button   class="btn btn-primary"  type="submit">{% translate 'log-in' %}</button>
            </div>
                                        <div class="form-control my-custom-element">
                                                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">{% translate 'register' %}</a>
            </small>
        </div>
        {% endif %}
    </div>
{% endblock content %}