{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1 class="text-center">ДА</h1>
    <p class="text-center">да</p>


    <div class="justify-content-start mt-3">
    <label class="mr-3">
        <input type="radio" name="subscription" value="monthly"> Месяц
    </label>
    <label>
        <input type="radio" name="subscription" value="yearly"> Год
    </label>
</div>


    <div class="row mt-4">
        <div class="col-md monthly-tariff">

            <!-- Окошки с тарифами -->
    <div class="row mt-4">
        <div class="col-md">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Тариф 1</h5>
                    <p class="card-text">Описание тарифа 1.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Тариф 2</h5>
                    <p class="card-text">Описание тарифа 2.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Тариф 3</h5>
                    <p class="card-text">Описание тарифа 3.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Тариф 4</h5>
                    <p class="card-text">Описание тарифа 4.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>

    </div>
        </div>
        <div class="col-md yearly-tariff">

            <div class="row mt-4">
        <div class="col-md">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Тариф 5</h5>
                    <p class="card-text">Описание тарифа 5.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Тариф 6</h5>
                    <p class="card-text">Описание тарифа 6.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Тариф 8</h5>
                    <p class="card-text">Описание тарифа 8.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Тариф 8</h5>
                    <p class="card-text">Описание тарифа 8.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Попробовать бесплатно</a>
                    <p class="mt-2"><a href="#">Или купить прямо сейчас</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>


    <script src="{% static 'js/tariff_switch.js' %}"></script>
{% endblock %}
